/* Write your CSS here */
.match-card {
  list-style: none;
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 40%;
  padding: 10px 15px;
  border-radius: 12px;
}
.card-logo {
  width: 70px;
  height: 70px;
}
.card-name {
  font-size: 16px;
  font-weight: 500;
  font-family: roboto;
  color: #ffffff;
}
.card-result {
  font-size: 14px;
  font-weight: 500;
  font-family: roboto;
  color: #ffffff;
}
.card-status {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Bree Serif';
  color: #ffffff;
}
.Won {
  color: #18ed66;
}
.Lost {
  color: #e31a1a;
}
@media screen and (min-width: 768px) {
  .match-card {
    width: 40%;
  }
  .card-name {
    font-size: 18px;
  }
  .card-result {
    font-size: 16px;
  }
  .card-status {
    font-size: 20px;
  }
  .card-logo {
    width: 100px;
    height: 100px;
  }
}
