/* Write your CSS here */
.team-card-item {
  width: 150px;
  min-height: 100px;
  border: 2px solid #ffffff;
  margin: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  background-color: #ffffff33;
  padding: 5px;
  cursor: pointer;
}
.team-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.card-image {
  width: 60px;
  height: 60px;
  margin-left: 5px;
}
.card-heading {
  font-family: roboto;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 5px;
}
.link {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .team-card-item {
    width: 300px;
    min-height: 120px;
  }
  .card-heading {
    font-size: 21px;
  }
  .card-image {
    width: 80px;
    height: 80px;
    margin-left: 20px;
  }
}
